@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

#quote-box {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("ron-swanson.jpg");
  background-position: center;
  background-size: cover;

  color: white;

  #text {
    font-family: "Anton", sans-serif;
    font-size: 1.7em;
    letter-spacing: 2px;
    max-width: 330px;
  }

  @media screen and (min-width: 800px) {
    #text {
      max-width: 700px;
    }
  }

  #header {
    font-family: "Caveat", cursive;
    font-size: 3em;
    margin: 0;

    position: absolute;
    top: 50px;
  }

  #new-quote,
  #tweet-quote {
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    font-size: 1.2em;
    padding: 0.5em;

    display: flex;
    align-items: center;
    align-content: center;

    svg {
      padding: 0.3em;
    }
  }

  #new-quote {
    margin-left: -90px;

    background-color: white;
    border: none;
    border-radius: 4px;
  }

  #tweet-quote {
    margin-left: 110px;
    color: white;
  }

  #author {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
